{
    "Version": "2012-10-17",
    "Statement": [{
            "Effect": "Allow",
            "Action": [
                "cloudformation:*",
                "autoscaling:*",
                "ec2:*",
                "elasticloadbalancing:*",
                "cloudwatch:*",
                "logs:*",
                "sns:*",
                "rds:*",
                "elasticbeanstalk:*",
                "iam:list*",
                "iam:get*",
                "s3:*",
                "acm:ListCertificates"
            ],
            "Resource": "*"
        },
        {
            "Action": [
                "iam:passrole"
            ],
            "Effect": "Allow",
            "Resource": [
                "arn:aws:iam::*:role/aws-elasticbeanstalk-service-role",
                "arn:aws:iam::*:role/aws-elasticbeanstalk-ec2-role"
            ]

        },
        {
            "Action": [
                "ec2:RunInstances",
                "ec2:StartInstances"
            ],
            "Effect": "Deny",
            "Resource": "arn:aws:ec2:*:*:instance/*",
            "Condition": {
                "StringNotEquals": {
                    "ec2:InstanceType": [
                        "t2.micro",
                        "t2.small",
                        "t2.medium"
                    ]
                }
            }
        },
        {
            "Action": [
                "ec2:*Spot*"
            ],
            "Effect": "Deny",
            "Resource": "*"
        },
        {
            "Effect": "Deny",
            "Action": "autoscaling:CreateLaunchConfiguration",
            "Resource": [
                "*"
            ],
            "Condition": {
                "StringNotEquals": {
                    "autoscaling:InstanceType": [
                        "t2.micro",
                        "t2.small",
                        "t2.medium"
                    ]
                }
            }
        },
        {
            "Effect": "Deny",
            "Action": [
                "autoscaling:CreateAutoScalingGroup",
                "autoscaling:UpdateAutoScalingGroup"
            ],
            "Resource": "*",
            "Condition": {
                "NumericGreaterThan": {
                    "autoscaling:MaxSize": "4"
                }
            }
        },
        {
            "Sid": "DenyLargeCreate",
            "Effect": "Deny",
            "Action": "rds:CreateDBInstance",
            "Resource": "*",
            "Condition": {
                "StringNotEquals": {
                    "rds:DatabaseClass": [
                        "db.t2.micro",
                        "db.t2.small",
                        "db.t2.medium"
                    ]
                }
            }
        },
        {
            "Condition": {
                "StringNotEqualsIgnoreCase": {
                    "ec2:Owner": "amazon"
                }
            },
            "Resource": [
                "arn:aws:ec2:*:*:image/*"
            ],
            "Action": "ec2:RunInstances",
            "Effect": "Deny"
        }
    ]
}
